<h1>Categories</h1>
<div class="row rowspace pt-2">
  <div class="col-sm-6 col-lg-4">
    <div class="p-2 mb-2 BgWhite categBox row m-0">
      <div class="col-4 p-0 text-center"><img src="assets\images\one.jpg" class="img-fluid"></div>
      <div class="col-8 p-0">
        <figcaption routerLink="/Contactus">Rice</figcaption>
        <summary>You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics.  You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics. </summary>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="p-2 mb-2 BgWhite categBox row m-0">
      <div class="col-4 p-0 text-center"><img src="assets\images\one.jpg" class="img-fluid"></div>
      <div class="col-8 p-0">
        <figcaption routerLink="/Contactus">Rice</figcaption>
        <summary>You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics.  You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics. </summary>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="p-2 mb-2 BgWhite categBox row m-0">
      <div class="col-4 p-0 text-center"><img src="assets\images\one.jpg" class="img-fluid"></div>
      <div class="col-8 p-0">
        <figcaption routerLink="/Contactus">Rice</figcaption>
        <summary>You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics.  You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics. </summary>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="p-2 mb-2 BgWhite categBox row m-0">
      <div class="col-4 p-0 text-center"><img src="assets\images\one.jpg" class="img-fluid"></div>
      <div class="col-8 p-0">
        <figcaption routerLink="/Contactus">Rice</figcaption>
        <summary>You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics.  You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics. </summary>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="p-2 mb-2 BgWhite categBox row m-0">
      <div class="col-4 p-0 text-center"><img src="assets\images\one.jpg" class="img-fluid"></div>
      <div class="col-8 p-0">
        <figcaption routerLink="/Contactus">Rice</figcaption>
        <summary>You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics.  You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics. </summary>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-4">
    <div class="p-2 mb-2 BgWhite categBox row m-0">
      <div class="col-4 p-0 text-center"><img src="assets\images\one.jpg" class="img-fluid"></div>
      <div class="col-8 p-0">
        <figcaption routerLink="/Contactus">Rice</figcaption>
        <summary>You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics.  You can use the Calculator in the desktop for a variety of tasks, from simple math to advanced statistics. </summary>
      </div>
    </div>
  </div>
</div>