<section class="container-fluid BgWhite pt-2 pb-1">
<h1>{{pageTitleLoginDetails}}</h1>
<div class="form-inline mb-2 mt-2">
  <label>Filter : </label>
  
<input type="text" [value]="listFilter" (input)="listFilter = $event.target.value" class="form-control ml-2">
<button type="button" class="btn btn-outline-warning ml-2" (click)="toggleImage()">{{showTable ? 'Hide':'Show'}} table</button>
</div>
<h4>Filter By: {{listFilter}}</h4>
<table class="table table-bordered" *ngIf='lists && lists.length && showTable'>
<thead class="thead-default">
<tr>
<th>ID</th>
<th>User Name</th>
<th>Password</th>
<th>Rating</th>
</tr>
</thead>
<tbody>
<tr *ngFor='let list of lists'>
<td>{{list.ID}}</td>
<td>{{list.UserName}}</td>
<td>{{list.Password}}</td>
<td><app-star [rating]='list.ID' (ratingClicked)='onRatingClicked($event)'></app-star></td>
</tr>
</tbody>
</table>
</section>